<!DOCTYPE html>
<html lang="en" >


  <head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  
  <body>
    <div class="fabs">
    <div class="chat">
      <div class="chat_header">
        <div class="chat_option">
        <div class="header_img">
          <img src="img/bot.png"/>
          </div>
          <span id="chat_head">Smart Bot</span> <br> <span class="agent"></span> <span class="online">(Online)</span>
  
        </div>
  
      </div>
      <div class="messages">
      <div id="chat_converse" class="chat_conversion chat_converse messages-content">  
      </div>
    </div>
      <div class="fab_field">
        <form class="message-box" id="mymsg" method="POST">
        <a id="fab_camera" class="fab"><i class="fas fa-microphone" id="start-record-btn"></i></a>

        <button id="fab_send" class="fab message-submit" type="submit"><i class="zmdi zmdi-mail-send"></i></button>
        <textarea id="chatSend" name="MSG" placeholder="Send a message" class="chat_field chat_message message-input"></textarea>
        </form>
      </div>
    </div>
      <a id="prime" class="fab"><i class="prime zmdi zmdi-comment-outline"></i></a>
  </div>
    <script src='http://code.jquery.com/jquery-1.11.3.min.js'></script>
  
      <script src="js/index.js"></script>
      <script src="js/chatbot.js"></script>
  
  </body>
  

</html>
